#!/usr/bin/make -f

export JAVA_HOME=/usr/lib/jvm/default-java

DEB_UPSTREAM_VERSION=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^+]+)\-.*,\1,p')

%:
	dh $@ --with maven_repo_helper

override_dh_auto_configure:
	# Link in jars from /usr/share/java rather
	# than patching the build process
	for pkg in ant ant-junit junit4 hamcrest-core; \
	do \
		ln -sf /usr/share/java/$$pkg.jar lucene/test-framework/lib/$$pkg.jar; \
	done	
	ln -sf /usr/share/java/commons-codec.jar \
		lucene/contrib/analyzers/phonetic/lib/commons-codec.jar
	for pkg in commons-compress commons-logging \
			   commons-digester commons-collections3 \
			   commons-beanutils xercesImpl; \
	do \
		ln -sf /usr/share/java/$$pkg.jar lucene/contrib/benchmark/lib/$$pkg.jar; \
	done
	ln -sf /usr/share/java/com.ibm.icu-4.4.jar lucene/contrib/icu/lib/icu4j.jar
	ln -sf /usr/share/java/regexp.jar lucene/contrib/queries/lib/jakarta-regexp.jar
	mkdir -p lucene/lib
	for pkg in ant junit4; \
	do \
		ln -sf /usr/share/java/$$pkg.jar lucene/lib/$$pkg.jar; \
	done
	# And the same for solr
	for pkg in commons-codec commons-fileupload commons-httpclient commons-io \
			   commons-lang easymock geronimo-stax-1.2-spec guava httpclient httpcore \
			   httpmime jcl-over-slf4j junit4 log4j-over-slf4j servlet-api-2.5 \
			   slf4j-api slf4j-jdk14 wstx-lgpl; \
	do \
		ln -sf /usr/share/java/$$pkg.jar solr/lib/$$pkg.jar; \
	done
	dh_auto_configure

override_dh_auto_build:
	ant -buildfile build.xml -Dversion=$(DEB_UPSTREAM_VERSION) get-maven-poms
	ant -buildfile lucene/build.xml -propertyfile debian/ant.properties \
		-Dversion=$(DEB_UPSTREAM_VERSION) jar-core docs javadocs build-contrib
	ant -buildfile solr/build.xml -propertyfile debian/ant.properties \
		-Dversion=$(DEB_UPSTREAM_VERSION) dist-war

ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
override_dh_auto_test:
	ant -buildfile lucene/build.xml -propertyfile debian/ant.properties \
        -Dversion=$(DEB_UPSTREAM_VERSION) test-core test-contrib
	ant -buildfile solr/build.xml -propertyfile debian/ant.properties \
        -Dversion=$(DEB_UPSTREAM_VERSION) test-core
endif

override_dh_auto_clean:
	ant clean-jars
	find . -name "*.jar" -type l -delete || true
	find . -name "pom.xml" -type f -delete || true
	rm -f debian/liblucene3-java.poms
	dh_auto_clean

override_dh_fixperms:
	chmod 644 debian/solr-common/usr/share/solr/WEB-INF/weblogic.xml \
		debian/solr-common/etc/solr/conf/schema.xml \
		debian/solr-common/etc/solr/conf/solrconfig.xml \
		debian/solr-common/usr/share/solr/favicon.ico \
		debian/solr-common/usr/share/solr/admin/favicon.ico
	dh_fixperms

override_dh_auto_install:
	sed -e "s|__VERSION__|$(DEB_UPSTREAM_VERSION)|g" \
		< debian/liblucene3-java.poms.in > debian/liblucene3-java.poms 
	dh_auto_install

override_dh_installchangelogs:
	dh_installchangelogs -pliblucene3-java lucene/CHANGES.txt 
	dh_installchangelogs -plibsolr-java solr/CHANGES.txt

get-orig-source:
	uscan --force-download --rename
