#!/usr/bin/make -f


export JAVA_HOME=/usr/lib/jvm/default-java

DEB_UPSTREAM_VERSION=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^+]+).*,\1,p')

%:
	dh $@ --with maven_repo_helper --buildsystem ivy

override_dh_auto_build:
	dh_auto_build -- compile

override_dh_installchangelogs:
	dh_installchangelogs -pliblucene3-java lucene/CHANGES.txt
	dh_installchangelogs -plibsolr-java solr/CHANGES.txt
	dh_installchangelogs

get-orig-source:
	uscan --force-download --rename
